 body {
   background: #F4F4F4; // Using this variable
 }
 .banner {
   background: rgb(52, 221, 10);
   h1 {
     font-size: 50px;
   }
 }

 h1 {
   color: red;
 }
 a {
   color: grey;
   &:hover {
     color: black;
   }
 }

// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
